[project]
name = "chezz"
version = "0.0.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[project.scripts]
chezz = "chezz.__main__:main"
